<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Game #{{ game.id }}</h1>
<p>Status: {{ game.get_status_display }}</p>
<p>Start Time: {{ game.start_time }}</p>
<p>End Time: {{ game.end_time }}</p>

<h3>Players and Scores</h3>
<ul>
    {% for player in game.players.all %}
        <li>{{ player.display_name }}: {{ game.scores|get_item:player.id }}</li>
    {% endfor %}
</ul>

{% if game.status == 'finished' %}
    <p>Winner: {{ game.winner.display_name if game.winner else 'Tie' }}</p>
{% endif %}
</head>
<body>

</body>
</html>